.botoes {


    display: flex;
    align-items: center;
    gap: 40px;
}

.btn-aceitar {
    /* border: 2px solid #6358DC; */
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #6358DC;
    /* background-color: transparent; */
    /* background-color: transparent; */
    background-color: #00cc00;
    cursor: pointer;
    color: white;
    border: none;
}

.btn-recusar {
    /* border: 2px solid #6358DC; */
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #6358DC;
    background-color: transparent;
    background-color: #ff0000;
    cursor: pointer;
    color: white;
}