#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(1, 41, 112, 0.1) 0px 2px 20px;
    overflow: visible;
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#navbar form {
    display: flex;
    gap: 0.5rem
}

#navbar select {
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    border: 1px solid #B2BED4;
    outline: none;
}

#navbar input {
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 200px;
}

#navbar form button {
    color: #0E3477;
    padding: 0.3rem;
    font-size: 1.2rem;
    display: flex;
    border: none;
    align-items: center;
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 1px;
}

form span {
    margin-left: 30px;
    font-size: 25px;
    color: #0E3477;
}

.profile {
    display: flex;
    font-size: 25px;
    gap: 30px;
}

.profile p {
    font-size: 13px;
    color: #0E3477;
}

.profile .perfil {
    display: flex;
    align-items: center;
    gap: 5px;

    position: relative;
    display: inline-block;

}

.perfil:hover .profile-content {
    display: flex;
}


.form-search {
    display: flex;
    border: 1px #B2BED4 solid;
    border-radius: 4px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  
    z-index: 1;
    margin-top: 28px;
    right:0 ;


    width: 200px;
}

.profile-content li {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #212529;
    gap: 8px;
    border-top: 1px solid #EEF2FA;
    /* border-bottom: 1px solid #EEF2FA; */
    padding: 5px;
  

}

.profile-content ul{
    gap:0px
}


.profile-content li a {
    font-size: 14px;
    color: #444444;

}

.profile-content hr {
    width: 100%;
}

.dropdown-header h6 {

    color: #444444;
    font-size: 16px;
    font-weight: normal;

}

.dropdown-header p {

    color: #444444;
}

.dropdown-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;


}