.proposal-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.proposal-form input {
    outline: unset;
}

.proposal-form .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.proposal-form div button {
    border: 2px solid #6358DC;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #6358DC;
    background-color: transparent;
}

.proposal-form button:hover {
    cursor: pointer;
    background-color: #6358DC;
    color: #fff;
    transition: .5s;
}